@media screen and (width :320px) {
    html {
        font-size: calc(320px/20);
    }
}


@media screen and (width: 360px) {
    html {
        font-size: calc(360px / 20);
    }
}

@media screen and (width: 375px) {
    html {
        font-size: calc(375px / 20);
    }
}

@media screen and (width: 414px) {
    html {
        font-size: calc(414px / 20);
    }
}

@media screen and (width: 768px) {
    html {
        font-size: calc(768px / 20);
    }
}

.clearfix::after,
.clearfix::before {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
}

/* 左右 间隔*/
.blanking {
    margin: 0 calc(15rem/20);
}


/* 顶部 */
.coping {
    width: 100%;
    height: calc(94rem / 20);
    background-color: #e12a2a;
}

.coping .top {
    position: relative;
    width: 100%;
    position: relative;
    height: calc(50rem / 20);
    text-align: center;
    padding: calc(10rem / 20) calc(15rem / 20);
    box-sizing: border-box;
}



.top-left {
    float: left;
    height: calc(30rem / 20);
    width: calc(20rem/20);
}

.top-script {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(140rem / 20);
    height: calc(30rem / 20);
}

.coping .top .top-rigth {
    float: right;
    width: calc(20rem/20);
    height: calc(30rem / 20);

}

.top-bottom {
    position: relative;
    width: 100%;
    height: calc(40rem /20);
    padding: calc(15rem /20);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.top-bottom .top-bottom-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(32rem /20);
    width: 100%;
}

.top-bottom .top-bottom-text input {
    width: calc(380rem /20);
    height: 100%;
    border: 0;
    background-color: #fcd5d5;
    border-radius: 15px;
    color: #757575;
    padding-left: calc(32rem /20);
    box-sizing: border-box;
}

.top-bottom .top-bottom-text img {
    position: absolute;
    left: calc(20rem /20);
    top: 50%;
    transform: translateY(-50%);
    width: calc(16rem /20);
    height: calc(16rem /20);
}

/* 抢购 */
.buying {
    width: 100%;
    background-color: #fff;
}

.buying ul li {
    float: left;
    width: 20%;
    height: calc(65rem /20);
    padding-top: calc(15rem /20);
    text-align: center;
}

.buying ul li img {
    width: calc(45rem /20);
    height: calc(45rem /20);
}

/* 广告 */
.advert {
    width: 100%;
    height: calc(100rem /20);
}

.advert img {
    width: 100%;
    height: 100%;
}

/* 礼包  */
.ceremonies {
    width: 100%;
    height: calc(120rem /20);
    margin-top: calc(15rem /20);
}

.ceremonies-left {
    float: left;
    width: 49.6%;
    height: 100%;
    padding-right: calc(2rem /20);
}

.ceremonies-right {
    float: right;
    width: 49.6%;
    height: 100%;
}

.ceremonies-left img {
    width: 100%;
    height: 100%;
}

.ceremonies-right img:first-child {
    float: left;
    width: 49.2%;
    height: 100%;
    padding-right: calc(2rem /20);
}


.ceremonies-right img:last-child {
    float: right;
    width: 49.2%;
    height: 100%;
}

/* 为你推荐 */
.recommend {
    float: left;
    width: 17.84375rem;
    height: 6.5625rem;
    padding: 0 1.09375rem;
    overflow: hidden;
}

.recommend .recommend-up {
    width: 100%;
    height: 3.125rem;
    padding: 0.625rem 0;
    margin-bottom: 0.15625rem;
    border-radius: 2px;
    background-color: #ffffff;
}

.recommend .recommend-down {
    width: 100%;
    height: 1.5625rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff;
}

.recommend-up-left {
    float: left;
    width: 3.59375rem;
    padding: 0.78125rem 0.3125rem 0 0.46875rem;
    text-align: left;
}

.recommend-up-left h2 {
    font-size: 14px;
    padding-bottom: 0.15625rem;
}

.recommend-up-left span {
    display: block;
    font-size: 0.4375rem;
    color: #999999;
}

.recommend-up-right {
    float: left;
    height: 100%;
}

.recommend-up-right li {
    float: left;
    width: 3.125rem;
    text-align: center;
}

.recommend-up-right li img {
    width: 2.1875rem;
    height: 2.1875rem;
}

.recommend-up-right li span {
    display: block;
    font-size: 0.375rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recommend-down-left {
    float: left;
    width: 3.75rem;
    height: 100%;
    text-align: center;
}

.recommend-down-left img {
    width: 2.8125rem;
    height: 0.9375rem;
    margin-top: 0.3125rem;
}

.recommend-down-hot {
    float: left;
    width: 1.875rem;
    height: 0.78125rem;
    background-color: #ffcc00;
    border-radius: 10px;
    margin: 0.375rem 0;
    text-align: center;
}

.recommend-down-introduce {
    float: left;
    font-size: 0.625rem;
    margin: 0.40625rem 0.3125rem;
}

/* 推荐榜单 */
.recommend-list {
    float: left;
    width: 17.84375rem;
    height: 22.5rem;
    padding: 0 1.09375rem;
    margin-bottom: 0.78125rem;
}

.recommend-list h2 {
    font-size: 0.625rem;
    margin: 0.46875rem 0;
}

.recommend-list .recommend-up-lists {
    width: 100%;
    height: 7.5625rem;
    margin-bottom: 0.46875rem;
}

.recommend-up-list-content {
    float: left;
    width: 5.625rem;
    height: 100%;
    border-radius: 10px;
    margin-right: 0.46875rem;
}

.recommend-up-list-content img {
    width: 100%;
    height: 5.15625rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.recommend-up-list-content .content-down {
    position: relative;
    width: 100%;
    height: 2.1875rem;
    background-image: url("../img/r_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.recommend-up-list-content h3 {
    color: #fefaf0;
    font-size: 0.625rem;
    padding-top: 0.46875rem;
    font-weight: initial;
}

.recommend-up-list-content span {
    color: #f6e3d2;
    font-size: 0.46875rem;
}

.recommend-up-list-content .content-down::after {
    position: absolute;
    top: -0.3125rem;
    right: 1.5625rem;
    content: "人气榜";
    display: block;
    width: 2.0625rem;
    height: 0.6875rem;
    border-radius: 20px;
    border: 1px solid #c99c73;
    font-size: 0.3125rem;
    color: #c99c73;
    text-align: center;
    background-color: #ffffff;
}

.recommend-up-list-content:nth-child(2) .content-down {
    background-image: url("../img/r_bg2.png");
}

.recommend-up-list-content:nth-child(2) .content-down::after {
    content: "趋势榜";
    color: #f6851a;
    border: 1px solid #f6851a;
}

.recommend-up-list-content:nth-child(3) {
    margin-right: 0;
}

.recommend-down-lists {
    width: 100%;
    height: 12.5rem;
}

.recommend-down-lists .recommend-down-list-content {
    float: left;
    width: 47%;
    height: 6.1875rem;
    background-color: #ffffff;
}

.recommend-down-lists #top-left {
    border-top-left-radius: 10px;
    margin-right: 0.125rem;
    margin-bottom: 0.125rem;
    padding-left: 0.46875rem;
}

.recommend-down-lists #top-right {
    border-top-right-radius: 10px;
    margin-bottom: 0.125rem;
    padding-left: 0.46875rem;
}

.recommend-down-lists #bottom-left {
    border-bottom-left-radius: 10px;
    margin-right: 0.125rem;
    padding-left: 0.46875rem;
}

.recommend-down-lists #bottom-right {
    border-bottom-right-radius: 10px;
    padding-left: 0.46875rem;
}

.recommend-down-list-content .title {
    width: 100%;
    height: 0.875rem;
    margin-top: 0.625rem;
}

.recommend-down-list-content .title h2 {
    float: left;
    font-size: 0.5625rem;
    color: #000;
    margin: 0;
    margin-right: 0.3125rem;
    max-width: 4.375rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recommend-down-list-content .title .hot {
    float: left;
    width: 2.34375rem;
    height: 0.625rem;
    font-size: 0.53125rem;
    border-radius: 20px;
    color: #ab813a;
    text-align: center;
    background-color: #f9f5ee;
}

.recommend-down-list-content span {
    display: block;
    width: 100%;
    font-size: 0.4375rem;
    color: #999999;
    margin-bottom: 0.3125rem;
}

.recommend-down-list-content img {
    float: left;
    width: 50%;
    height: 3.90625rem;
}

/* 猜你喜欢 */
.love {
    float: left;
    width: 100%;
    margin-bottom: 0.46875rem;
}

.love .love-title {
    width: 100%;
    height: 1.5625rem;
    margin-bottom: 0.3125rem;
}

.love .love-title img {
    width: 100%;
    height: 100%;
}

.love .love-list {
    width: 17.84375rem;
    padding: 0 1.09375rem;
    height: 15.625rem;
}

.love-list-content {
    float: left;
    width: 8.75rem;
    height: 12.5rem;
    border-radius: 10px;
    background-color: #ffffff;
    margin-bottom: 0.4375rem;
    overflow: hidden;
}

.love-list-content img {
    width: 100%;
    height: 8.4375rem;
}

.love-list-content-down {
    height: 3.75rem;
    padding: 0.15625rem;
}

.love-list-content-down p {
    max-width: 9.375rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 0.6875rem;
    margin-bottom: 0.25rem;
}

.love-list-content-down .icon-one {
    float: left;
    width: 1.25rem;
    height: 0.5625rem;
    margin-right: 0.21875rem;
    text-align: center;
    background-color: #ffcc00;
    color: #333333;
    font-size: 0.4375rem;
    border-radius: 2px;
}

.love-list-content-down .icon-two {
    float: left;
    height: 0.46875rem;
    padding: 0 0.15625rem;
    margin-right: 0.21875rem;
    text-align: center;
    background-color: #ffffff;
    color: #333333;
    font-size: 0.4375rem;
    border: 1px solid #ffbb00;
    border-radius: 2px;
}

#love-left {
    margin-right: 0.3125rem;
}

.sale {
    position: relative;
    float: left;
    width: 100%;
    height: 0.78125rem;
    margin: 0.375rem 0;
}

.sale .money {
    color: #ff442b;
    font-size: 0.75rem;
    font-weight: bold;
}

.sale .money i {
    font-size: 0.34375rem;
}

.sale .talk-one {
    position: absolute;
    top: 0;
    left: 1.65625rem;
    color: #cccccc;
    font-size: 0.34375rem;
    font-weight: bold;
}

.sale .talk-two {
    position: absolute;
    top: 0;
    left: 2.09375rem;
    color: #cccccc;
    font-size: 0.34375rem;
    font-weight: bold;
}

/* logo */
.logo {
    float: left;
    width: 100%;
    height: 4.6875rem;
}

.logo img {
    width: 100%;
    height: 100%;
}

/* 下载 */
.download {
    float: left;
    width: 100%;
    height: 3.75rem;
    margin-bottom: 3.125rem;
}

.download img {
    width: 100%;
    height: 100%;
}