body{
  background-color: brown;
}
@media screen and(width:320px){
  div{
    font-size: 20px;
  }
}
@media screen and (width:375px){
  div{
    font-size: 40px;
  }
}
@media screen and (width:414px){
  div{
    font-size: 60px;
  }
}