.container {
  width: 1260px;
  height: 100%;
  margin: auto;
}
.top {
  height: 44px;
  border-bottom: 1px solid #d4d8db;
  line-height: 44px;
}
.top-left {
  float: left;
  width: 342px;
  border-right: 1px solid #d4d8db;
  padding-left: 180px;
  box-sizing: border-box;
}
.top span {
  float: left;
  padding: 0 44px;
  border-right: 1px solid #d4d8db;
}
.top-phone {
  padding: 0 52px 0 60px;
}

.top-right {
  float: right;
  padding-right: 164px;
  box-sizing: border-box;
}
.top-right div {
  float: left;
  height: 30px;
  width: 80px;
  background-color: #e61e25;
  color: #fff;
  text-align: center;
  line-height: 30px;
  margin-top: 7px;
  margin-right: 15px;
}
.top-right a {
  float: left;
}
