.topnav{
    width: 100%;
    height: 40px;
    background-color: RGB(51,51,51);
}
.topnav a{
    margin-left: 8px;
    color: RGB(176,176,176);
    line-height: 40px;
}
.topnav i{
    color: RGB(57,61,66);
    line-height: 40px;
}
.mi{
    height: 100px;
    width: 100%;
    margin-top: 24px;
}
.mi-box{
    float: left;
}
.boat{
    float: left;
}
.kind{
    float: left;
}
.kind a{
    display: inline;
    font-size: 17px;
    line-height: 70px;
    color: RGB(51,51,51);
    margin: 0 13px;
}
.poster{
    position: relative;
    width: 100%;
    height:464px;
}
.poster-box img{
    height: 464px;
    width: 1230px;
}
.list{
    position: absolute;
    top: 0px;
    left: 332px;
    width: 238px;
    height: 464px;
    background-color: RGB(44,80,95);
}
.list a,i{
    line-height:43px ;
    font-size: 15px;
    color: RGB(255,255,255);
}
.list i{
    float: right;  
}
.list-box{
    height: 390px;
    width: 184px;
    margin-top:20px ;
    margin-left: 30px;
}
.ad{
    margin-top: 16px;
    height: 234px;
    width: 100%;
}
.ad-color{
   background-color:RGB(95,87,80) ;
   height: 170px;
   width:236px ;
   float: left;
}
.ad-color p,span{
    color: RGB(246,245,245);
    font-size: 18px;
    margin-left: 42px;
    margin-top: 50px;
    line-height: 40px;
}
.ad-color span{

}
.ad-one img{
    width:316px ;
    height: 170px;
    float: left;
    margin-left: 16px;
   
}
.ad-two img{
    width:316px ;
    height: 170px;
    float: left;
    margin-left: 16px;
}
.ad-three img{
    width:316px ;
    height: 170px;
    float: left;
    margin-left: 16px;
}
.capacity{
    height: 800px;
    width: 100%;
    background-color: RGB(245,245,245);
}
.capacity-top{
    height: 110px;
    width:100% ;
}
.capacity-top a{
    float: left;
    font-size: 22px;
}
.capacity-top a,span{
    margin-top: 80px;
}
.capacity-top span{
    font-size:18px;
    float: right;
}
.capacity-bottom{
    height:618px ;
    width: 100%;
}
.capacity-bottom img{
    background-color: blue;
    float: left;
    width:238px ;
    height: 618px;
}
.homeapp{
    float: left;
    width:986px;
    height:619px ;
    margin-left: 10px;
}
.small-box{
    height:300px ;
    width:237px ;
    background-color: RGB(255,255,255);
    float: left;
    margin-right: 9px;
    margin-bottom: 9px;
    box-shadow: 0px 0px 5px rgb(167, 163, 163);
}
.small-box img{
    display: block;
    height: 133px;
    width: 130px;
}
.small-box a{

}
.help{
    height:212px ;
    width: 100%;
}
.help-left{
    float: left;
}
dl{
    float: left;
    width: 60px;
    height: 116px;
    font-size: 14px;
    margin-right:104px;
    margin-top: 62px;
}
dt{
  color:RGB(66,66,66) ;
  line-height: 45px;
}
dd{
    color: RGB(117,117,117);
    line-height: 30px;
}
.help-right{
    height:116px;
    width: 195px;
    float: right;
    margin-top: 70px;
    border-left:  1px solid RGB(236,236,236);
    padding-left: 60px;
}
.help-right p{
    color: RGB(255,103,0);
    font-size: 20px;
    line-height: 30px;
}
.help-right span{
    color: RGB(97,97,97);
    font-size: 13px;
    line-height: 20px;
}
.logo{
    height: 114px;
    width: 100%;
    margin-top: 35px;
}
.logo img{
    float: left;
}
.bottom{
    float: left;
    margin-left: 13px;
}
.bottom a{
    line-height: 20px;
    color: RGB(117,117,117);
}
.bottom p{
    line-height: 20px;
    color: RGB(176,176,176);
}
.explore {
    width: 271px;
    height: 25px;
    margin: 0 auto;
    font-size: 22px;
    color: RGB(186,186,186);
}